{{! partial~}}
{{#if actions.reply}}
	<form class="flow-post flow-reply-form"
	      method="POST"
	      action="{{actions.reply.url}}"
	      id="flow-reply-{{postId}}"
	      data-flow-initial-state="collapsed"
	>
		<input type="hidden" name="wpEditToken" value="{{@root.rootBlock.editToken}}" />
		<input type="hidden" name="topic_replyTo" value="{{postId}}" />
		{{> flow_errors }}

		{{#ifAnonymous}}
			{{> flow_anon_warning }}
		{{/ifAnonymous}}

		<textarea id="flow-post-{{postId}}-form-content"
				name="topic_content"
				required
				data-flow-preview-template="flow_post"
				data-flow-preview-title="{{articleTitle}}"
				data-flow-expandable="true"
				class="mw-ui-input flow-click-interactive"
				type="text"
				placeholder="{{l10n "flow-reply-topic-title-placeholder" properties.topic-of-post}}"
				data-role="content"

				{{!--
					You'd expect data-flow-eventlog-* data here (this one
					needs to be clicked to expand the form).
					However, this form is used in multiple places: as topic-
					level reply form (activated by clicking the textarea to
					expand), or to reply to a post (activated by clicking the
					"reply" link).
					We only want to track the former, so we'll do that in JS so
					we can ignore all focuses for this textarea when it's not
					used to activate the topic-level reply form.
				--}}
				data-flow-interactive-handler-focus="activateReplyTopic"
		>
			{{~#if @root.submitted~}}
				{{~#ifCond @root.submitted.postId "===" postId~}}
					{{~@root.submitted.content~}}
				{{~/ifCond~}}
			{{~/if~}}
		</textarea>

		<div class="flow-form-actions flow-form-collapsible">
			<button data-role="submit"
			        class="mw-ui-button mw-ui-constructive"
			        data-flow-interactive-handler="apiRequest"
			        data-flow-api-handler="submitReply"
			        data-flow-api-target="< .flow-topic"
			        data-flow-eventlog-action="save-attempt"
			>
				{{~actions.reply.title~}}
			</button>
			{{> flow_form_buttons }}
			<small class="flow-terms-of-use plainlinks">{{l10nParse "flow-terms-of-use-reply"}}</small>
		</div>
	</form>
{{/if}}
