					<div class="flow-topic" id="flow-topic-{{postId}}">
						<div class="flow-topic-titlebar flow-click-interactive" data-flow-interactive-handler="topicCollapserToggle" tabindex="0">
							<h2 class="flow-topic-title">{{content}}</h2>
							<span class="flow-author">{{l10n "started_with_participants" this}}</span>
							<div class="flow-topic-meta">
								<a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-inline" href="#flow-topic-{{id}}-form-content">{{l10n "Reply"}}</a>
								&bull; {{l10n "comment_count" this}} &bull;
								{{#if last_updated}}
									<!--span class="wikicon wikicon-speech-bubbles"></span--> {{timestamp lastUpdated "active_ago"}}
								{{else}}
									<!--span class="wikicon wikicon-speech-bubble"></span--> {{uuidTimestamp revisionId "started_ago"}}
								{{/if}}
							</div>
							<span class="flow-reply-count"><span class="wikicon wikicon-speech-bubble"></span><span class="flow-reply-count-number">{{reply_count}}</span></span>

							<div class="flow-menu">
								<div class="flow-menu-js-drop"><a href="javascript:void(0);"><span class="wikicon wikicon-ellipsis"></span></a></div>
								<ul class="flow-ui-button-container">
									<li><a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin" href="{{urls.actions.lock}}"><span class="wikicon wikicon-lock"></span> {{l10n "Lock"}}</a></li>
									<li><a class="flow-ui-button flow-ui-quiet flow-ui-thin" href="{{urls.actions.hide}}"><span class="wikicon wikicon-eye-lid"></span> {{l10n "Hide"}}</a></li>
									<li><a class="flow-ui-button flow-ui-regressive flow-ui-quiet flow-ui-thin" href="{{urls.actions.delete}}"><span class="wikicon wikicon-trash-slash"></span> {{l10n "Delete"}}</a></li>
									<li><a class="flow-ui-button flow-ui-destructive flow-ui-quiet flow-ui-thin" href="{{urls.actions.suppress}}"><span class="wikicon wikicon-block-slash"></span> {{l10n "Suppress"}}</a></li>
								</ul>
							</div>
						</div>

						{{#eachPost @root replies}}
							<!-- eachPost topic -->
							{{post @root this}}
						{{/eachPost}}

						{{> flow_reply_form this}}
					</div>
