<div class="flow-topic-watchlist">
	{{#if isAlwaysWatched}}
		<span class="flow-ui-quiet flow-ui-constructive flow-ui-active">
			{{~null~}}<span class="wikiglyph wikiglyph-star"></span>{{~null~}}
		</span>
	{{else}}
		<a href="{{#if isWatched}}{{links.unwatch-topic.url}}{{else}}{{links.watch-topic.url}}{{/if}}"
		   class="mw-ui-quiet mw-ui-constructive mw-ui-button {{#if isWatched}}flow-ui-active{{/if}}"
		   data-flow-api-handler="watchTopic"
		   data-flow-api-target="< .flow-topic-watchlist"
		   data-flow-api-method="POST">
			{{~null~}}<span class="wikiglyph wikiglyph-star"></span>{{~null~}}
			{{~null~}}<span class="wikiglyph wikiglyph-unstar"></span>{{~null~}}
		</a>
	{{/if}}
</div>