<h2 class="flow-topic-title">{{escapeContent content.format content.content}}</h2>
<div class="flow-topic-meta">
	{{#if actions.reply}}
		<a href="{{actions.reply.url}}"
		   title="{{actions.reply.title}}"
		   class="mw-ui-anchor mw-ui-progressive mw-ui-quiet"
		   data-flow-interactive-handler="activateForm">
			{{~actions.reply.title~}}
		</a>
		&bull;
	{{/if}}

	{{l10n "flow-topic-comments" reply_count}} &bull;

	{{#if last_updated}}
		{{timestamp last_updated "flow-active-ago" false last_updated_readable}}
	{{else}}
		{{uuidTimestamp postId "flow-started-ago" false}}
	{{/if}}
</div>
{{#if isModerated}}
	<div class="flow-moderated-topic-title flow-ui-text-truncated">
		{{~noop~}}{{> flow_topic_moderation_flag}}
		{{> flow_post_moderation_state}}
	</div>
	<div class="flow-moderated-topic-reason">
		{{l10n "flow-topic-moderated-reason-prefix"}}
		{{escapeContent moderateReason.format moderateReason.content}}
	</div>
{{/if}}
<span class="flow-reply-count"><span class="wikiglyph wikiglyph-speech-bubble"></span><span class="flow-reply-count-number">{{reply_count}}</span></span>

{{> flow_topic_titlebar_summary}}
