<div class="flow-topic flow-load-interactive" id="flow-topic-{{postId}}" data-flow-id="{{postId}}" data-flow-load-handler="topicElement">
	<div class="flow-topic-titlebar flow-click-interactive" data-flow-interactive-handler="topicCollapserToggle" tabindex="0">
		<h2 class="flow-topic-title">{{content}}</h2>
		<span class="flow-author">{{l10n "started_with_participants" this}}</span>
		<div class="flow-topic-meta">
			<a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-inline" href="#flow-post-{{postId}}-form-content">{{l10n "Reply" author}}</a>
			&bull; {{l10n "comment_count" this}} &bull;
			{{#if last_updated}}
				<!--span class="wikiglyph wikiglyph-speech-bubbles"></span--> {{timestamp last_updated "active_ago"}}
			{{else}}
				<!--span class="wikiglyph wikiglyph-speech-bubble"></span--> {{uuidTimestamp postId "started_ago"}}
			{{/if}}
		</div>
		<span class="flow-reply-count"><span class="wikiglyph wikiglyph-speech-bubble"></span><span class="flow-reply-count-number">{{reply_count}}</span></span>

		<div class="flow-menu">
			<div class="flow-menu-js-drop"><a href="javascript:void(0);"><span class="wikiglyph wikiglyph-ellipsis"></span></a></div>
			<ul class="flow-ui-button-container">
				{{#if actions.edit}}
					<li><a class="flow-ui-button flow-ui-regressive flow-ui-quiet flow-ui-thin" href="{{actions.edit.url}}" title="{{actions.edit.title}}"><span class="wikiglyph wikiglyph-pencil"></span> {{l10n "flow-post-action-edit-post"}}</a></li>
				{{/if}}
				{{#if links.topic-history}}
					<li><a class="flow-ui-button flow-ui-quiet flow-ui-thin" href="{{links.topic-history.url}}" title="{{links.topic-history.title}}"> <span class="wikiglyph wikiglyph-article"></span> {{l10n "flow-post-action-post-history"}}</a></li>
				{{/if}}
				{{#if links.topic}}
					<li><a class="flow-ui-button flow-ui-quiet flow-ui-thin" href="{{links.topic.url}}" title="{{links.topic.title}}"> <span class="wikiglyph wikiglyph-link"></span> {{l10n "flow-post-action-view"}}</a></li>
				{{/if}}
				{{#if actions.lock}}
					<li><a class="flow-ui-button flow-ui-regressive flow-ui-progressive flow-ui-quiet flow-ui-thin" href="{{actions.lock.url}}" title="{{actions.lock.title}}"><span class="wikiglyph wikiglyph-lock"></span> {{l10n "TODO-lock"}}</a></li>
				{{/if}}
				{{#if actions.hide}}
					<li><a class="flow-ui-button flow-ui-quiet flow-ui-thin" href="{{actions.hide.url}}" title="{{actions.hide.title}}"><span class="wikiglyph wikiglyph-eye-lid"></span> {{l10n "flow-post-action-hide-post"}}</a></li>
				{{/if}}
				{{#if actions.delete}}
					<li><a class="flow-ui-button flow-ui-destructive flow-ui-quiet flow-ui-thin" href="{{actions.delete.url}}" title="{{actions.delete.title}}"><span class="wikiglyph wikiglyph-trash"></span> {{l10n "flow-post-action-delete-post"}}</a></li>
				{{/if}}
				{{#if actions.suppress}}
					<li><a class="flow-ui-button flow-ui-destructive flow-ui-quiet flow-ui-thin" href="{{actions.suppress.url}}" title="{{actions.suppress.title}}"><span class="wikiglyph wikiglyph-block"></span> {{l10n "flow-post-action-suppress-post"}}</a></li>
				{{/if}}
				{{#if actions.close}}
					<li><a class="flow-ui-button flow-ui-destructive flow-ui-quiet flow-ui-thin" href="{{actions.close.url}}" title="{{actions.close.title}}"><span class="wikiglyph wikiglyph-clock"></span> {{l10n "flow-topic-action-close-topic"}}</a></li>
				{{/if}}
				{{#if actions.summarize}}
					<li><a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin" href="{{actions.summarize.url}}" title="{{actions.summarize.title}}"><span class="wikiglyph wikiglyph-flag"></span> {{l10n "flow-topic-action-summarize-topic"}}</a></li>
				{{/if}}
			</ul>
		</div>
	</div>

	{{#each replies}}
		{{#eachPost @root this}}
			<!-- eachPost topic -->
			{{post @root this}}
		{{/eachPost}}
	{{/each}}

	{{> flow_reply_form}}
</div>
