<div class="flow-post-meta">
	<span class="flow-post-meta-actions">
		{{#if actions.reply}}
			<a href="{{actions.reply.url}}"
			   title="{{actions.reply.title}}"
			   class="mw-ui-anchor mw-ui-progressive mw-ui-quiet flow-reply-link"
			>
				{{~actions.reply.text~}}
			</a>
		{{/if}}
		{{#if actions.thank}}
			{{!--
				progressive enhancement happens in the Thank extension
				based on the mw-thanks-flow-thank-link class
			--}}
			<a class="mw-ui-anchor mw-ui-progressive mw-ui-quiet mw-thanks-flow-thank-link"
			   href="{{actions.thank.url}}"
			   title="{{actions.thank.title}}">
				{{~actions.thank.text~}}
			</a>
		{{/if}}
	</span>

	<span class="flow-post-timestamp">
		{{#if isOriginalContent}}
			<a href="{{links.topic-history.url}}" class="flow-timestamp-anchor">
				{{uuidTimestamp postId}}
			</a>
		{{else}}
			<span>
				{{#ifCond creator.name "===" lastEditUser.name}}
					{{l10n "flow-edited"}}
				{{else}}
					{{l10n "flow-edited-by" lastEditUser.name}}
				{{/ifCond}}
			</span>
			<a href="{{links.diff-prev.url}}" class="flow-timestamp-anchor">
				{{~uuidTimestamp lastEditId~}}
			</a>
		{{/if}}
	</span>
</div>
