
<div class="flow-board-navigation">
	{{#if links.search}}
		<a href="{{links.search.url}}" title="{{links.search.title}}" class="flow-board-navigator-last"><span class="wikicon wikicon-magnifying-glass flow-ui-tooltip-target" title="Search"></span></a>
	{{else}}
		<!-- @todo make disabled class do something? -->
		<a href="#" class="flow-board-navigator-last disabled"><span class="wikicon wikicon-magnifying-glass flow-ui-tooltip-target" title="Search"></span></a>
	{{/if}}
	<div>
		{{progressiveEnhancement this "insertion" "flow-board-collapsers" "flow_board_collapsers_subcomponent"}}

		{{!-- Click for sorting options, not sure what this url should be --}}
		<a href="{{links.unknown}}" class="flow-board-navigator-active flow-board-navigator-first flow-ui-tooltip-target" title="{{l10n "flow-sorting-tooltip"}}">{{l10n "flow-newest-topics"}}</a>
	</div>
</div>
