
					<div class="flow-board-navigation">
						<a href="{{links.search.url}}" title="{{links.search.title}}" class="flow-board-navigator-last"><span class="wikicon wikicon-magnifying-glass flow-ui-tooltip-target" title="Search"></span></a>
						<div>
							{{progressiveEnhancement type="insertion" id="flow-board-collapsers" template="{{> flow_board_collapsers_subcomponent}}"}}
							{{!-- What is board.topics? --}}
							<a href="{{links.board.topics}}" class="flow-board-navigator-active flow-board-navigator-first flow-ui-tooltip-target" title="{{l10n 'You are currently reading the newest topics first. Click for more sorting options.'}}">{{l10n "Newest_topics"}}</a>
						</div>
					</div>
