					<form class="flow-reply-form" data-flow-initial-state="collapsed">
						<textarea id="flow-post-{{postId}}-form-content" data-flow-expandable="true" class="mw-ui-input" type="text" placeholder="{{l10n "Reply_to_author_name" author}}"></textarea>

						<div class="flow-form-actions flow-form-collapsible">
							<button data-role="submit" class="flow-ui-button flow-ui-constructive">{{l10n "Reply" author}}</button>
							<button data-role="action" class="flow-ui-button flow-ui-progressive flow-ui-quiet">{{l10n "Preview"}}</button>
							<button data-flow-interactive-handler="cancelForm" data-role="cancel" class="flow-ui-button flow-ui-destructive flow-ui-quiet">{{l10n "Cancel"}}</button>

							<small class="flow-terms-of-use plainlinks">{{l10n "reply_TOU"}}</small>
						</div>
					</form>
