<div class="flow-board-header">
	{{> flow_errors}}

	<form class="flow-edit-form mw-ui-vform" data-flow-initial-state="collapsed" method="POST" action="{{revision.actions.summarize.url}}">
		<input type="hidden" name="wpEditToken" value="{{editToken}}" />

		{{#if revision.revisionId}}
			<input type="hidden" name="{{type}}_prev_revision" value="{{revision.revisionId}}" />
		{{/if}}

		<textarea name="{{type}}_summary" data-flow-expandable="true" class="mw-ui-input" type="text" data-role="content">
			{{~#if submitted.summary~}}
				{{~submitted.summary~}}
			{{~else~}}
				{{~#if revision.revisionId~}}
					{{~revision.content~}}
				{{~/if~}}
			{{~/if~}}
		</textarea>

		<div class="flow-form-actions flow-form-collapsible">
			<button
				data-role="submit"
				class="flow-ui-button flow-ui-constructive"
				data-flow-interactive-handler="apiRequest"
				data-flow-api-handler="summarizeTopic">
					{{l10n "flow-topic-action-summarize-topic"}}
			</button>
			{{previewButton "flow_topic_titlebar_content"}}
			<a href="{{revision.links.topic.url}}" title="{{revision.links.topic.title}}" data-flow-interactive-handler="cancelForm" data-role="cancel" class="flow-ui-button flow-ui-destructive flow-ui-quiet">{{l10n "flow-cancel"}}</a>
			<small class="flow-terms-of-use plainlinks">{{l10nParse "flow-terms-of-use-summarize"}}</small>
		</div>
	</form>
</div>
