<h2 class="flow-topic-title" data-title="{{plaintextSnippet content.format content.content}}">{{escapeContent content.format content.content}}</h2>
{{#if isModerated}}
	<div class="flow-moderated-topic-title flow-ui-text-truncated"><span
		class="wikiglyph {{#ifCond moderateState 'equalTo' "close"}}wikiglyph-stop{{/ifCond}}{{#ifCond moderateState 'equalTo' "hide"}}wikiglyph-flag{{/ifCond}}{{#ifCond moderateState 'equalTo' "delete"}}wikiglyph-trash{{/ifCond}}"></span>
		{{l10n "post_moderation_state" moderateState replyToId moderator.name~}}
	</div>
{{/if}}
<span class="flow-author">
	{{l10n "flow-topic-participants" author_count unnamed_author_count creator.name last_author_name}}
</span>
<div class="flow-topic-meta">
	{{#if actions.reply}}
		<a href="#flow-post-{{postId}}-form-content"
		   title="{{actions.reply.title}}"
		   class="mw-ui-progressive mw-ui-quiet"
		   data-flow-interactive-handler="activateForm">
			{{~actions.reply.title~}}
		</a>
		&bull;
	{{/if}}

	{{l10n "flow-topic-comments" reply_count}} &bull;

	{{#if last_updated}}
		<!--span class="wikiglyph wikiglyph-speech-bubbles"></span--> {{timestamp last_updated "flow-active-ago"}}
	{{else}}
		<!--span class="wikiglyph wikiglyph-speech-bubble"></span--> {{uuidTimestamp postId "flow-started-ago"}}
	{{/if}}
</div>
<span class="flow-reply-count"><span class="wikiglyph wikiglyph-speech-bubble"></span><span class="flow-reply-count-number">{{reply_count}}</span></span>

{{> flow_topic_titlebar_summary}}
