<div class="flow-topic-watchlist flow-watch-link">
	{{> flow_errors}}

	<a href="{{#if isWatched}}{{links.unwatch-topic.url}}{{else}}{{links.watch-topic.url}}{{/if}}"
	   class="mw-ui-anchor mw-ui-constructive {{#unless isWatched}}mw-ui-quiet{{/unless}}
	   {{#if isWatched~}}
		flow-watch-link-unwatch
	   {{~else~}}
		flow-watch-link-watch
	   {{~/if~}}"
	   data-flow-api-handler="watchItem"
	   data-flow-api-target="< .flow-topic-watchlist"
	   data-flow-api-method="POST">
		{{~noop~}}<span class="wikiglyph wikiglyph-star"></span>{{~noop~}}
		{{~noop~}}<span class="wikiglyph wikiglyph-unstar"></span>{{~noop~}}
	</a>
</div>
