<ul>
	<p>Total results: {{search.total}}</p>

	{{#each search.rows}}
	<li>
		{{#if links.topic }}
		<a href="{{links.topic.url}}">
			{{escapeContent content.format content.content}}
		</a>
		{{else}}
		<a href="{{links.workflow.url}}">
			@todo: this is some header
		</a>
		{{/if}}
	</li>
	{{/each}}
<ul>