
<div class="flow-board-navigation flow-load-interactive" data-flow-load-handler="boardNavigation">
	<div class="flow-error-container">
		{{!-- placeholder for javascript injected errors --}}
	</div>
	<div class="flow-board-navigation-inner">
		{{!-- Click for sorting options, not sure what this url should be --}}
		<a href="javascript:void(0);"
		   class="flow-board-navigator-active flow-board-navigator-first flow-ui-tooltip-target"
		   data-tooltip-pointing="down"
		   title="
			{{~#ifCond sortby "===" "updated"~}}
				{{~l10n "flow-sorting-tooltip-recent"~}}
			{{~else~}}
				{{~l10n "flow-sorting-tooltip-newest"~}}
			{{~/ifCond~}}
		   "
		   data-flow-interactive-handler="menuToggle"
		   data-flow-menu-target="< .flow-board-navigation .flow-menu">
			{{~#ifCond sortby "===" "updated"}}
				{{l10n "flow-recent-topics"}}
			{{else}}
				{{l10n "flow-newest-topics"}}
			{{/ifCond}}
			<span class="wikiglyph wikiglyph-caret-down"></span>
		</a>
	</div>
	<div class="flow-board-filter-menu">
		<div class="flow-menu flow-menu-inverted">
			<div class="flow-menu-js-drop flow-menu-js-drop-hidden"><a href="javascript:void(0);" class="flow-board-filter-menu-activator"></a></div>
			{{#if links.board-sort}}
				<ul class="mw-ui-button-container flow-list">
					{{~#ifCond sortby "===" "updated"}}
					<li><a class="mw-ui-button mw-ui-quiet"
					       href="{{links.board-sort.newest}}"
					       data-flow-interactive-handler="apiRequest"
					       data-flow-api-target="< .flow-component"
					       data-flow-api-handler="board"><span class="wikiglyph wikiglyph-star-circle"></span> {{l10n "flow-newest-topics"}}</a></li>
					{{else}}
					<li><a class="mw-ui-button mw-ui-quiet"
					       href="{{links.board-sort.updated}}"
					       data-flow-interactive-handler="apiRequest"
					       data-flow-api-target="< .flow-component"
					       data-flow-api-handler="board"><span class="wikiglyph wikiglyph-clock"></span> {{l10n "flow-recent-topics"}}</a></li>
					{{/ifCond}}
				</ul>
			{{/if}}
		</div>
	</div>
</div>
