					<div class="flow-board-navigation">
						<a href="{{url 'board.search'}}" class="flow-board-navigator-last"><span class="wikicon wikicon-magnifying-glass" title="Search"></span></a>
						<div>
							<a href="{{url 'collapser.small_topics'}}"       class="flow-board-navigator-right flow-board-navigator-cap"><span class="wikicon wikicon-compact" title="{{l10n "Small_topics"}}"></span></a>
							<a href="{{url 'collapser.topics_only'}}"        class="flow-board-navigator-right"><span class="wikicon wikicon-toc" title="{{l10n "Topics_only"}}"></span></a>
							<a href="{{url 'collapser.topics_and_posts'}}"   class="flow-board-navigator-right"><span class="wikicon wikicon-expanded" title="{{l10n "Topics_and_posts"}}"></span></a>
							<a href="{{url 'board.topics'}}"                 class="flow-board-navigator-active flow-board-navigator-first">{{l10n "Newest_topics"}}</a>
							{{!--
							<a href="{{url 'board.topics'}}"                 class="flow-board-navigator-active flow-board-navigator-cap flow-board-navigator-first">{{l10n "Topics"}}</a>
							<a href="{{url 'board.history'}}">{{l10n "History"}}</a>
							--}}
						</div>
					</div>
