<form method="POST" action="{{actions.edit.url}}">
	{{> flow_errors }}
	<input type="hidden" name="wpEditToken" value="{{@root.editToken}}" />
	{{!-- @todo should this be a part of the url? --}}
	<input type="hidden" name="topic_prev_revision" value="{{revisionId}}" />
	<input name="topic_content" class="mw-ui-input" value="
			{{~#if @root.submitted.content~}}
				{{~@root.submitted.content~}}
			{{~else~}}
				{{~content.content~}}
			{{~/if~}}
		" />
	<div class="flow-form-actions flow-form-collapsible">
		<button data-role="submit"
		        data-flow-api-handler="submitTopicTitle"
		        data-flow-api-target="< .flow-topic"
		        class="mw-ui-button mw-ui-constructive">{{l10n "flow-edit-title-submit"}}</button>

		{{#progressiveEnhancement}}
			<button data-role="cancel"
			        type="reset"
			        data-flow-interactive-handler="cancelForm"
			        class="mw-ui-button mw-ui-destructive mw-ui-quiet">{{l10n "flow-cancel"}}</button>
			<small class="flow-terms-of-use plainlinks">{{l10nParse "flow-terms-of-use-edit"}}</small>
		{{/progressiveEnhancement}}
	</div>
</form>
