<h2 class="flow-topic-title" data-title="{{content}}">{{content}}</h2>
{{#if isModerated}}
	<div class="flow-moderated-topic-title">{{l10n "post_moderation_state" moderateState replyToId moderator.name}}</div>
{{/if}}
<span class="flow-author">{{l10n "started_with_participants" this}}</span>
<div class="flow-topic-meta">
	<a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-inline"
		 data-flow-interactive-handler="activateForm"
		 href="#flow-post-{{postId}}-form-content">{{l10n "Reply" author}}</a>
	&bull; {{l10n "comment_count" this}} &bull;
	{{#if last_updated}}
		<!--span class="wikiglyph wikiglyph-speech-bubbles"></span--> {{timestamp last_updated "active_ago"}}
	{{else}}
		<!--span class="wikiglyph wikiglyph-speech-bubble"></span--> {{uuidTimestamp postId "started_ago"}}
	{{/if}}
</div>
<span class="flow-reply-count"><span class="wikiglyph wikiglyph-speech-bubble"></span><span class="flow-reply-count-number">{{reply_count}}</span></span>

<div class="flow-topic-summary">
	{{#if summary}}
		{{escapeContent summaryFormat summary}}
	{{/if}}
</div>
<div class="flow-topic-edit-summary">
	{{>flow_topic_titlebar_close}}
</div>
