{{#with revision}}
	<div class="flow-post{{#if isModerated}} flow-post-moderated{{/if}}">
		{{#with author}}
			<span class="flow-author"><a href="{{links.contribs.url}}" title="{{links.contribs.title}}" class="mw-userlink flow-ui-tooltip-target">{{name}}</a> <span class="mw-usertoollinks">(<a href="{{links.talk.url}}" class="new flow-ui-tooltip-target" title="{{links.talk.title}}">{{l10n "talkpagelinktext"}}</a>{{#if links.block}} | <a class="flow-ui-tooltip-target" href="{{links.block.url}}" title="{{links.block.title}}">{{l10n "blocklink"}}</a>{{/if}})</span></span>
		{{/with}}
		<div class="flow-post-content">
			{{html content}}
		</div>
		<div class="flow-post-meta">
			<span class="flow-post-meta-actions">
				{{#if actions.reply}}
					<a href="{{actions.reply.url}}" title="{{actions.reply.title}}" class="flow-ui-progressive flow-ui-quiet">{{actions.reply.title}}</a>
				{{/if}}
				{{#if actions.edit}}
					&#8226;
					<a href="{{actions.edit.url}}" title="{{actions.edit.title}}" class="flow-ui-regressive flow-ui-quiet">{{l10n "flow-post-action-edit-post"}}</a>
				{{/if}}
			</span>
			{{#if previousRevisionId}}
				<!--span class="wikicon wikicon-clock"></span--> {{uuidTimestamp revisionId "edited_ago"}}
				&#8226;
			{{/if}}
			{{uuidTimestamp postId "time_ago"}}
		</div>

		<div class="flow-menu">
			<div class="flow-menu-js-drop"><a href="javascript:void(0);"><span class="wikicon wikicon-ellipsis"></span></a></div>
			<ul class="flow-ui-button-container">
				{{#if actions.lock}}
					<li><a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin" href="{{actions.lock.url}}" title="{{actions.lock.title}}"><span class="wikicon wikicon-eye-lock"></span> {{l10n "TODO-Lock"}}</a></li>
				{{/if}}
				{{#if actions.hide}}
					<li><a class="flow-ui-button flow-ui-quiet flow-ui-thin" href="{{actions.hide.url}}" title="{{actions.hide.title}}"><span class="wikicon wikicon-eye-lid"></span> {{l10n "flow-post-action-hide-post"}}</a></li>
				{{/if}}
				{{#if actions.delete}}
					<li><a class="flow-ui-button flow-ui-regressive flow-ui-quiet flow-ui-thin" href="{{actions.delete.url}}" title="{{actions.delete.title}}"><span class="wikicon wikicon-trash-slash"></span> {{l10n "flow-post-action-delete-post"}}</a></li>
				{{/if}}
				{{#if actions.suppress}}
					<li><a class="flow-ui-button flow-ui-destructive flow-ui-quiet flow-ui-thin" href="{{actions.suppress.url}}" title="{{actions.suppress.title}}"><span class="wikicon wikicon-block-slash"></span> {{l10n "flow-post-action-suppress-post"}}</a></li>
				{{/if}}
			</ul>
		</div>

		{{#eachPost ../rootBlock replies}}
			<!-- eachPost nested replies -->
			{{post ../../rootBlock this}}
		{{/eachPost}}
	</div>
{{/with}}
