<div class="flow-board-header">

	{{#if revision.content}}
		{{html revision.content}}
	{{else}}
		<p>{{l10n "flow-header-empty"}}</p>
	{{/if}}

	<div class="flow-board-header-nav">
		{{#if revision.actions.edit}}
			<a href="{{revision.actions.edit.url}}" class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-board-header-icon flow-ui-tooltip-target" href="/" title="{{revision.actions.edit.title}}"><span class="wikicon wikicon-pencil"></span></a>
		{{/if}}
	</div>
</div>
