<form class="flow-edit-form" data-flow-initial-state="collapsed" method="POST" action="{{#if revisionId}}{{actions.edit.url}}{{~else~}}{{actions.create.url}}{{/if}}">
    <input type="hidden" name="wpEditToken" value="{{editToken}}" />
	<input type="hidden" name="topic_replyTo" value="{{postId}}" />
	{{#if previousRevisionId}}
		<input type="hidden" name="{{type}}_prev_revision" value="{{previousRevisionId}}" />
	{{/if}}
	<textarea id="flow-post-{{postId}}-form-content" name="{{type}}_summary" data-flow-expandable="true" class="mw-ui-input" type="text" data-topic-summary-id="{{revisionId}}">
	</textarea>

	<div class="flow-form-actions flow-form-collapsible">
		<button data-role="submit" class="flow-ui-button flow-ui-constructive">{{l10n "Summarize"}}</button>
		<button data-role="action" class="flow-ui-button flow-ui-progressive flow-ui-quiet">{{l10n "Preview"}}</button>
		<button data-flow-interactive-handler="cancelForm" data-role="cancel" class="flow-ui-button flow-ui-destructive flow-ui-quiet">{{l10n "Cancel"}}</button>

		<small class="flow-terms-of-use plainlinks">{{l10n "summarize_TOU"}}</small>
	</div>
</form>
