
<div class="flow-board-navigation flow-load-interactive" data-flow-load-handler="boardNavigation">
	<div class="flow-error-container">
		{{!-- placeholder for javascript injected errors --}}
	</div>
	<div class="flow-board-navigation-inner">
		{{!-- Click for sorting options, not sure what this url should be --}}
		<a href="javascript:void(0);"
		   class="flow-board-navigator-last flow-ui-tooltip-target"
		   data-tooltip-pointing="down"
		   title="
			{{~#ifCond sortby "===" "updated"~}}
				{{~l10n "flow-sorting-tooltip-recent"~}}
			{{~else~}}
				{{~l10n "flow-sorting-tooltip-newest"~}}
			{{~/ifCond~}}
		   "
		   data-flow-interactive-handler="menuToggle"
		   data-flow-menu-target="< .flow-board-navigation .flow-board-sort-menu"
		   data-flow-sort="{{sortby}}"
		>
			{{~#ifCond sortby "===" "updated"}}
				{{l10n "flow-recent-topics"}}
			{{else}}
				{{l10n "flow-newest-topics"}}
			{{/ifCond}}
			<span class="wikiglyph wikiglyph-caret-down"></span>
		</a>

		<a href=""
		   data-flow-interactive-handler="apiRequest"
		   data-flow-api-target="< .flow-board-navigation .flow-board-toc-menu .flow-list"
		   data-flow-api-handler="topicList" {{!-- also triggers menuToggle --}}
		   data-flow-menu-target="< .flow-board-navigation .flow-board-toc-menu"
		   class="flow-board-navigator-active flow-board-navigator-first">
			<span class="wikiglyph wikiglyph-stripe-toc"></span>
			<span class="flow-load-interactive" data-flow-load-handler="boardNavigationTitle">{{l10n "flow-board-header-browse-topics-link"}}</span>
		</a>
	</div>

	<div class="flow-board-header-menu">
		{{!-- Table of contents --}}
		<div class="flow-menu flow-menu-inverted flow-menu-scrollable flow-board-toc-menu flow-load-interactive"
		     data-flow-load-handler="menu"
		     data-flow-toc-target=".flow-list">
			<div class="flow-menu-js-drop flow-menu-js-drop-hidden"><a href="javascript:void(0);" class="flow-board-header-menu-activator"></a></div>
			<ul class="mw-ui-button-container flow-board-toc-list flow-list flow-load-interactive"
			    data-flow-load-handler="tocMenu"
			    data-flow-toc-target="li:not(.flow-load-more):last"
			    data-flow-template="flow_board_toc_loop">
			</ul>
		</div>

		{{!-- Topics sort menu --}}
		<div class="flow-menu flow-board-sort-menu flow-load-interactive"
		     data-flow-load-handler="menu">
			<div class="flow-menu-js-drop flow-menu-js-drop-hidden"><a href="javascript:void(0);" class="flow-board-header-menu-activator"></a></div>
			{{#if links.board-sort}}
				<ul class="mw-ui-button-container flow-list">
					{{~#ifCond sortby "===" "updated"}}
					<li><a class="mw-ui-button mw-ui-quiet"
					       href="{{links.board-sort.newest}}"
					       data-flow-interactive-handler="apiRequest"
					       data-flow-api-target="< .flow-component"
					       data-flow-api-handler="board"><span class="wikiglyph wikiglyph-star-circle"></span> {{l10n "flow-newest-topics"}}</a></li>
					{{else}}
					<li><a class="mw-ui-button mw-ui-quiet"
					       href="{{links.board-sort.updated}}"
					       data-flow-interactive-handler="apiRequest"
					       data-flow-api-target="< .flow-component"
					       data-flow-api-handler="board"><span class="wikiglyph wikiglyph-clock"></span> {{l10n "flow-recent-topics"}}</a></li>
					{{/ifCond}}
				</ul>
			{{/if}}
		</div>
	</div>
</div>
