<section>
	{{~#ifCond moderationType "===" "topic"~}}
		{{!-- Topic only --}}
		{{~#if actions.edit~}}
			<li class="flow-js">
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-quiet"
				   href="{{actions.edit.url}}"
				   title="{{actions.edit.title}}"
				   data-flow-interactive-handler="apiRequest"
				   data-flow-api-handler="activateEditTitle"
				   data-flow-api-target="< .flow-topic-titlebar"
				>
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-pencil"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-edit-title")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
		{{~#if links.topic-history~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-quiet"
				   href="{{links.topic-history.url}}"
				   title="{{links.topic-history.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-clock"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-history")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
		{{~#if links.topic~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-quiet"
				   href="{{links.topic.url}}"
				   title="{{links.topic.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-link"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-view")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
		{{~#if actions.summarize~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-progressive mw-ui-quiet"
				   data-flow-interactive-handler="apiRequest"
				   data-flow-api-handler="activateSummarizeTopic"
				   data-flow-api-target="< .flow-topic-titlebar .flow-topic-summary-container"
				   href="{{actions.summarize.url}}"
				   title="{{actions.summarize.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-stripe-toc"></span> {{/if~}}
					{{~#if summary~}}
						{{~l10n (concat "flow-" moderationType "-action-resummarize-topic")~}}
					{{else~}}
						{{~l10n (concat "flow-" moderationType "-action-summarize-topic")~}}
					{{~/if~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
	{{~/ifCond~}}

	{{~#ifCond moderationType "===" "post"~}}
		{{!-- Post only --}}
		{{~#if links.post~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-quiet"
				   href="{{links.post.url}}"
				   title="{{links.post.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-link"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-view")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
	{{~/ifCond~}}
</section>

<section>
	{{~#if actions.hide~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-quiet"
			   href="{{actions.hide.url}}"
			   title="{{actions.hide.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="hide">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-flag"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-hide-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}
	{{~#if actions.unhide~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-quiet"
			   href="{{actions.unhide.url}}"
			   title="{{actions.unhide.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="unhide">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-flag"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-unhide-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}
	{{~#if actions.delete~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
			   href="{{actions.delete.url}}"
			   title="{{actions.delete.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="delete">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-trash"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-delete-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}
	{{~#if actions.undelete~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
			   href="{{actions.undelete.url}}"
			   title="{{actions.undelete.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="undelete">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-trash"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-undelete-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}
	{{~#if actions.suppress~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
			   href="{{actions.suppress.url}}"
			   title="{{actions.suppress.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="suppress">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-block"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-suppress-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}
	{{~#if actions.unsuppress~}}
		<li>
			{{~noop~}}
			<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
			   href="{{actions.unsuppress.url}}"
			   title="{{actions.unsuppress.title}}"
			   data-flow-interactive-handler="moderationDialog"
			   data-flow-template="flow_moderate_{{moderationTemplate}}.partial"
			   data-role="unsuppress">
				{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-block"></span> {{/if~}}
				{{~l10n (concat "flow-" moderationType "-action-unsuppress-" moderationTemplate)~}}
			</a>
			{{~noop~}}
		</li>
	{{~/if~}}

	{{~#ifCond moderationType "===" "history"~}}
		{{!-- The history page uses a modal, while the topic view puts this in the title bar --}}
		{{~#if actions.lock~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
				   data-flow-interactive-handler="moderationDialog"
				   data-flow-template="flow_moderate_topic.partial"
				   data-role="lock"
				   data-flow-id="{{postId}}"
				   href="{{actions.lock.url}}"
				   title="{{actions.lock.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-lock"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-lock-topic")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
		{{~#if actions.unlock~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
				   data-flow-interactive-handler="moderationDialog"
				   data-flow-template="flow_moderate_topic.partial"
				   data-role="unlock"
				   data-flow-id="{{postId}}"
				   href="{{actions.unlock.url}}"
				   title="{{actions.unlock.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-unlock"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-unlock-topic")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
	{{else}}
		{{!-- @todo Maybe we should change the topic view so that it also uses this modal? Consistency! --}}
		{{~#if actions.lock~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
				   data-flow-interactive-handler="apiRequest"
				   data-flow-api-handler="activateLockTopic"
				   data-flow-id="{{postId}}"
				   data-flow-api-target="< .flow-topic-titlebar .flow-topic-summary-container"
				   href="{{actions.lock.url}}"
				   title="{{actions.lock.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-lock"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-lock-topic")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
		{{~#if actions.unlock~}}
			<li>
				{{~noop~}}
				<a class="{{moderationMwUiClass}} mw-ui-destructive mw-ui-quiet"
				   data-flow-interactive-handler="apiRequest"
				   data-flow-api-handler="activateLockTopic"
				   data-flow-id="{{postId}}"
				   data-flow-api-target="< .flow-topic-titlebar .flow-topic-summary-container"
				   href="{{actions.unlock.url}}"
				   title="{{actions.unlock.title}}">
					{{~#if moderationIcons}}<span class="wikiglyph wikiglyph-unlock"></span> {{/if~}}
					{{~l10n (concat "flow-" moderationType "-action-unlock-topic")~}}
				</a>
				{{~noop~}}
			</li>
		{{~/if~}}
	{{~/ifCond~}}
</section>
