{{#if actions.reply}}
	<form class="flow-post flow-reply-form" data-flow-initial-state="collapsed" method="POST" action="{{actions.reply.url}}">
	    <input type="hidden" name="wpEditToken" value="{{@root.editToken}}" />
		<input type="hidden" name="topic_replyTo" value="{{postId}}" />
		{{> flow_errors }}

		{{#ifAnonymous}}
			{{> flow_anon_warning }}
		{{/ifAnonymous}}

		<textarea id="flow-post-{{postId}}-form-content"
				name="topic_content"
				required
				data-flow-expandable="true"
				class="mw-ui-input"
				type="text"
				placeholder="{{l10n "flow-reply-topic-title-placeholder" (plaintextSnippet contentFormat content)}}"
				data-role="content">
			{{~#ifEquals @root.submitted.postId postId~}}
				{{~@root.submitted.content~}}
			{{~/ifEquals~}}
		</textarea>

		<div class="flow-form-actions flow-form-collapsible">
			<button data-role="submit"
				class="flow-ui-button flow-ui-constructive"
				data-flow-interactive-handler="apiRequest"
				data-flow-api-handler="submitReply">
					{{~l10n "Reply" author~}}
			</button>
			{{previewButton "flow_post"}}
			<button data-flow-interactive-handler="cancelForm" data-role="cancel" class="flow-ui-button flow-ui-destructive flow-ui-quiet">{{l10n "flow-cancel"}}</button>

			<small class="flow-terms-of-use plainlinks">{{l10nParse "flow-terms-of-use-reply"}}</small>
		</div>
	</form>
{{/if}}
