{{#if loadMoreObject}}
	<div class="flow-load-more">
		<div class="flow-error-container">
			{{!-- placeholder for javascript injected errors --}}
		</div>

		<a data-flow-interactive-handler="apiRequest"
		   data-flow-api-handler="loadMore"
		   data-flow-api-target="< .flow-load-more"
		   data-flow-load-handler="loadMore"
		   href="{{loadMoreObject.url}}"
		   title="{{loadMoreObject.title}}"
		   class="mw-ui-button mw-ui-progressive flow-load-interactive flow-ui-fallback-element"><span class="wikiglyph wikiglyph-article"></span> {{l10n "flow-load-more"}}</a>
	</div>
{{else}}
	<div class="flow-no-more">
		{{!-- TODO: Does this i18n message need to be generalized? --}}
		{{l10n "flow-no-more-fwd"}}
	</div>
{{/if}}
