<form class="flow-edit-post-form" method="POST" action="{{actions.edit.url}}">
	<input type="hidden" name="wpEditToken" value="{{@root.editToken}}" />
	<input type="hidden" name="topic_prev_revision" value="{{revisionId}}" />

	{{#ifAnonymous}}
		{{> flow_anon_warning }}
	{{/ifAnonymous}}

	<textarea name="topic_content" class="mw-ui-input flow-form-collapsible" data-role="content">
		{{~#if @root.submitted.content~}}
			{{~@root.submitted.content~}}
		{{~else~}}
			{{~content~}}
		{{~/if~}}
	</textarea>

	<div class="flow-form-actions flow-form-collapsible">
		<button class="flow-ui-button flow-ui-constructive"
		        data-flow-api-handler="submitEditPost">
			{{~l10n "flow-post-action-edit-post-submit"~}}
		</button>
		{{previewButton "flow_post"}}
		<button class="flow-ui-button flow-ui-destructive flow-ui-quiet"
		        data-flow-interactive-handler="cancelForm"
				data-role="cancel">
			{{~l10n "flow-cancel"~}}
		</button>
		<small class="flow-terms-of-use plainlinks">
			{{~l10n "flow-terms-of-use-edit"~}}
		</small>
	</div>
</form>
