<div class="flow-topic-summary-container">
	<div class="flow-topic-summary">
		<form class="flow-edit-form" data-flow-initial-state="collapsed" method="POST" action="{{revision.actions.summarize.url}}">
			{{> flow_errors }}
			<input type="hidden" name="wpEditToken" value="{{editToken}}" />

			{{#if revision.revisionId}}
				<input type="hidden" name="{{type}}_prev_revision" value="{{revision.revisionId}}" />
			{{/if}}

			<textarea class="mw-ui-input"
				  required
				  name="{{type}}_summary"
				  data-flow-preview-node="summary"
				  data-flow-preview-template="flow_topic_titlebar_summary.partial"
				  data-flow-preview-title="{{revision.articleTitle}}"
				  type="text"
					  data-role="content">
				{{~#if submitted.summary~}}
					{{~submitted.summary~}}
				{{~else~}}
					{{~#if revision.revisionId~}}
						{{~revision.content.content~}}
					{{~/if~}}
				{{~/if~}}
			</textarea>
			<div class="flow-form-actions flow-form-collapsible">
				<button
					data-role="submit"
					class="mw-ui-button mw-ui-constructive"
					data-flow-interactive-handler="apiRequest"
					data-flow-api-handler="summarizeTopic"
					data-flow-api-target="< .flow-topic-summary-container">
						{{l10n "flow-topic-action-summarize-topic"}}
				</button>
				{{> flow_form_buttons }}
				<small class="flow-terms-of-use plainlinks">{{l10nParse "flow-terms-of-use-summarize"}}</small>
			</div>
		</form>
	</div>
</div>
