<div class="flow-component" data-flow-component="board" data-flow-id="{{workflow}}">
	{{#each blocks}}
		{{block this}}
	{{/each}}

	<div class="flow-board">
		<p>wikicon: <span class="WikiFont WikiFont-cap-w"></span><span class="WikiFont WikiFont-lower-w"></span><span class="WikiFont WikiFont-magnifying-glass"></span><span class="WikiFont WikiFont-arrow-left"></span><span class="WikiFont WikiFont-tick"></span><span class="WikiFont WikiFont-x"></span><span class="WikiFont WikiFont-x-circle"></span><span class="WikiFont WikiFont-unstar"></span><span class="WikiFont WikiFont-star"></span><span class="WikiFont WikiFont-sun"></span><span class="WikiFont WikiFont-star-circle"></span><span class="WikiFont WikiFont-funnel"></span><span class="WikiFont WikiFont-eye"></span><span class="WikiFont WikiFont-eye-lid"></span><span class="WikiFont WikiFont-bookmark"></span><span class="WikiFont WikiFont-printer"></span><span class="WikiFont WikiFont-puzzle"></span><span class="WikiFont WikiFont-clock"></span><span class="WikiFont WikiFont-dice"></span><span class="WikiFont WikiFont-move"></span><span class="WikiFont WikiFont-gear"></span><span class="WikiFont WikiFont-ellipsis"></span><span class="WikiFont WikiFont-envelope"></span><span class="WikiFont WikiFont-pin"></span><span class="WikiFont WikiFont-stripe-compact"></span><span class="WikiFont WikiFont-stripe-toc"></span><span class="WikiFont WikiFont-stripe-expanded"></span><span class="WikiFont WikiFont-article"></span><span class="WikiFont WikiFont-article-check"></span><span class="WikiFont WikiFont-article-search"></span><span class="WikiFont WikiFont-trash"></span><span class="WikiFont WikiFont-trash-slash"></span><span class="WikiFont WikiFont-block"></span><span class="WikiFont WikiFont-block-slash"></span><span class="WikiFont WikiFont-flag"></span><span class="WikiFont WikiFont-flag-slash"></span><span class="WikiFont WikiFont-play"></span><span class="WikiFont WikiFont-stop"></span><span class="WikiFont WikiFont-lock"></span><span class="WikiFont WikiFont-user-bust"></span><span class="WikiFont WikiFont-user-smile"></span><span class="WikiFont WikiFont-user-sleep"></span><span class="WikiFont WikiFont-translate"></span><span class="WikiFont WikiFont-pencil"></span><span class="WikiFont WikiFont-pencil-revert"></span><span class="WikiFont WikiFont-pencil-lock"></span><span class="WikiFont WikiFont-speech-bubble"></span><span class="WikiFont WikiFont-speech-bubbles"></span><span class="WikiFont WikiFont-speech-bubble-add"></span><span class="WikiFont WikiFont-speech-bubble-smile"></span><span class="WikiFont WikiFont-link"></span><span class="WikiFont WikiFont-quotes"></span><span class="WikiFont WikiFont-quotes-add"></span><span class="WikiFont WikiFont-image"></span><span class="WikiFont WikiFont-image-lock"></span><span class="WikiFont WikiFont-image-add"></span><span class="WikiFont WikiFont-image-main-placeholder"></span><span class="WikiFont WikiFont-folder"></span><span class="WikiFont WikiFont-folder-main-placeholder"></span><span class="WikiFont WikiFont-wikitrail"></span></p>

		<p>Links: <a href="#" class="flow-ui-progressive">Progressive</a> <a href="#" class="flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-destructive">Destructive</a></p>
		<p>Quiet Links: <a href="#" class="flow-ui-quiet flow-ui-progressive">Progressive</a> <a href="#" class="flow-ui-quiet flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-quiet flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-quiet flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-quiet">x</a></p>
		<p>Buttons: <button class="flow-ui-button flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button">x</a></p>
		<p>Thin Buttons: <button class="flow-ui-button flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-thin">x</a></p>
		<p>Quiet Buttons: <button class="flow-ui-button flow-ui-quiet flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-quiet">x</a></p>
		<p>Quiet+Thin Buttons: <button class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin">x</a></p>
		<p>Sleeper Buttons: <button class="flow-ui-button flow-ui-sleeper flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper">x</a></p>
		<p>Sleeper+Thin Buttons: <button class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin">x</a></p>

		<form style="background: #eeeaea; margin: 1em; padding: 1em; border-radius: 2px;" data-flow-initial-state="collapsed">
			<h5>formElement test -- to be removed</h5>
			<p>{{formElement this
				"text"
				name="texty"
				placeholder='text'
			}}</p>
			<p>{{formElement this
				"number"
				name="numnum"
				placeholder='number required'
				required=true
			}}{{formElement this
				"date"
				name="dat"
				placeholder='date required'
				required=true
			}}{{formElement this
				"time"
				name="time"
				placeholder='time required'
				required=true
			}}{{formElement this
				"email"
				name="email"
				placeholder='email required'
				required=true
			}}{{formElement this
				"url"
				name="uri"
				placeholder='url'
			}}{{formElement this
				"url"
				name="pass"
				placeholder='password required'
				required=true
			}}{{formElement this
				"search"
				name="q"
				placeholder='search'
			}}{{!formElement this
				"color"
				name="col"
				placeholder='color'
			}}{{!formElement this
				"range"
				name="range"
				placeholder='range 1..100/5'
				min=1
				max=100
				step=5
			}}</p>
			<p>{{formElement this
				"textarea"
				name="textyarea"
				placeholder='textarea expandable required'
				required=true
				expandable=true
			}}</p>
			<p>{{formElement this
				"radio"
				name="rad"
				value="1"
				content='radio-1'
			}} {{formElement this
				"radio"
				name="rad"
				value="2"
				content='radio-2'
			}} {{formElement this
				"checkbox"
				name="checky"
				content='checkbox'
			}}</p>
			{{formElement this
				"submit"
				content='submit (constructive) button'
			}}
			{{formElement this
				"button"
				role="action"
				content='action (progressive) button + thin'
			}}
			{{formElement this
				"button"
				role="regressive"
				content='regressive button'
			}}
			{{formElement this
				"button"
				role="cancel"
				content='cancel (destructive)'
			}}
			<span class="flow-ui-tooltip flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
			<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
		</form>
	</div>
</div>
