<div class="flow-post-meta">
	<span class="flow-post-meta-actions">
		{{#if actions.reply}}
			<a href="{{actions.reply.url}}"
			
			   title="{{actions.reply.title}}"
			   class="mw-ui-button mw-ui-progressive mw-ui-quiet"
			   data-flow-interactive-handler="activateReplyPost">
				{{~actions.reply.title~}}
			</a>
		{{/if}}
		{{#if actions.edit}}
			&#8226;
			<a href="{{actions.edit.url}}"
			   title="{{actions.edit.title}}"
			   data-flow-api-handler="activateEditPost"
			   data-flow-api-target="< .flow-post-main"
			   data-flow-interactive-handler="apiRequest"
			   class="mw-ui-button mw-ui-quiet">
				{{l10n "flow-post-action-edit-post"}}
			</a>
		{{/if}}
	</span>
	{{#if previousRevisionId}}
		<!--span class="wikiglyph wikiglyph-clock"></span-->
		{{uuidTimestamp revisionId "edited_ago"}}
		&#8226;
	{{/if}}
	{{uuidTimestamp postId "time_ago"}}
</div>
