					<div class="flow-component" data-flow-component="board" data-flow-id="{{workflow}}">
						{{#each blocks}}
							{{block this}}
						{{/each}}

						<div class="flow-board">
							<p>wikicon: <span class="wikicon wikicon-cap-w"></span><span class="wikicon wikicon-lower-w"></span><span class="wikicon wikicon-magnifying-glass"></span><span class="wikicon wikicon-arrow-left"></span><span class="wikicon wikicon-tick"></span><span class="wikicon wikicon-x"></span><span class="wikicon wikicon-x-circle"></span><span class="wikicon wikicon-unstar"></span><span class="wikicon wikicon-star"></span><span class="wikicon wikicon-sun"></span><span class="wikicon wikicon-star-circle"></span><span class="wikicon wikicon-funnel"></span><span class="wikicon wikicon-eye"></span><span class="wikicon wikicon-eye-lid"></span><span class="wikicon wikicon-bookmark"></span><span class="wikicon wikicon-printer"></span><span class="wikicon wikicon-puzzle"></span><span class="wikicon wikicon-clock"></span><span class="wikicon wikicon-dice"></span><span class="wikicon wikicon-move"></span><span class="wikicon wikicon-gear"></span><span class="wikicon wikicon-ellipsis"></span><span class="wikicon wikicon-envelope"></span><span class="wikicon wikicon-pin"></span><span class="wikicon wikicon-stripe-compact"></span><span class="wikicon wikicon-stripe-toc"></span><span class="wikicon wikicon-stripe-expanded"></span><span class="wikicon wikicon-article"></span><span class="wikicon wikicon-article-check"></span><span class="wikicon wikicon-article-search"></span><span class="wikicon wikicon-trash"></span><span class="wikicon wikicon-trash-slash"></span><span class="wikicon wikicon-block"></span><span class="wikicon wikicon-block-slash"></span><span class="wikicon wikicon-flag"></span><span class="wikicon wikicon-flag-slash"></span><span class="wikicon wikicon-play"></span><span class="wikicon wikicon-stop"></span><span class="wikicon wikicon-lock"></span><span class="wikicon wikicon-user-bust"></span><span class="wikicon wikicon-user-smile"></span><span class="wikicon wikicon-user-sleep"></span><span class="wikicon wikicon-translate"></span><span class="wikicon wikicon-pencil"></span><span class="wikicon wikicon-pencil-revert"></span><span class="wikicon wikicon-pencil-lock"></span><span class="wikicon wikicon-speech-bubble"></span><span class="wikicon wikicon-speech-bubbles"></span><span class="wikicon wikicon-speech-bubble-add"></span><span class="wikicon wikicon-speech-bubble-smile"></span><span class="wikicon wikicon-link"></span><span class="wikicon wikicon-quotes"></span><span class="wikicon wikicon-quotes-add"></span><span class="wikicon wikicon-image"></span><span class="wikicon wikicon-image-lock"></span><span class="wikicon wikicon-image-add"></span><span class="wikicon wikicon-image-main-placeholder"></span><span class="wikicon wikicon-folder"></span><span class="wikicon wikicon-folder-main-placeholder"></span><span class="wikicon wikicon-wikitrail"></span></p>

							<p>Links: <a href="#" class="flow-ui-progressive">Progressive</a> <a href="#" class="flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-destructive">Destructive</a></p>
							<p>Quiet Links: <a href="#" class="flow-ui-quiet flow-ui-progressive">Progressive</a> <a href="#" class="flow-ui-quiet flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-quiet flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-quiet flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-quiet">x</a></p>
							<p>Buttons: <button class="flow-ui-button flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button">x</a></p>
							<p>Thin Buttons: <button class="flow-ui-button flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-thin">x</a></p>
							<p>Quiet Buttons: <button class="flow-ui-button flow-ui-quiet flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-quiet">x</a></p>
							<p>Quiet+Thin Buttons: <button class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-quiet flow-ui-thin">x</a></p>
							<p>Sleeper Buttons: <button class="flow-ui-button flow-ui-sleeper flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper">x</a></p>
							<p>Sleeper+Thin Buttons: <button class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-progressive">Progressive</button> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-regressive">Regressive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-constructive">Constructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin flow-ui-destructive">Destructive</a> <a href="#" class="flow-ui-button flow-ui-sleeper flow-ui-thin">x</a></p>

							<form style="background: #eeeaea; margin: 1em; padding: 1em; border-radius: 2px;" data-flow-initial-state="collapsed">
								<h5>formElement test -- to be removed</h5>
								<p>{{formElement this
									"text"
									name="texty"
									placeholder='text'
								}}</p>
								<p>{{formElement this
									"number"
									name="numnum"
									placeholder='number required'
									required=true
								}}{{formElement this
									"date"
									name="dat"
									placeholder='date required'
									required=true
								}}{{formElement this
									"time"
									name="time"
									placeholder='time required'
									required=true
								}}{{formElement this
									"email"
									name="email"
									placeholder='email required'
									required=true
								}}{{formElement this
									"url"
									name="uri"
									placeholder='url'
								}}{{formElement this
									"url"
									name="pass"
									placeholder='password required'
									required=true
								}}{{formElement this
									"search"
									name="q"
									placeholder='search'
								}}{{!formElement this
									"color"
									name="col"
									placeholder='color'
								}}{{!formElement this
									"range"
									name="range"
									placeholder='range 1..100/5'
									min=1
									max=100
									step=5
								}}</p>
								<p>{{formElement this
									"textarea"
									name="textyarea"
									placeholder='textarea expandable required'
									required=true
									expandable=true
								}}</p>
								<p>{{formElement this
									"radio"
									name="rad"
									value="1"
									content='radio-1'
								}} {{formElement this
									"radio"
									name="rad"
									value="2"
									content='radio-2'
								}} {{formElement this
									"checkbox"
									name="checky"
									content='checkbox'
								}}</p>
								{{formElement this
									"submit"
									content='submit (constructive) button'
								}}
								{{formElement this
									"button"
									role="action"
									content='action (progressive) button + thin'
								}}
								{{formElement this
									"button"
									role="regressive"
									content='regressive button'
								}}
								{{formElement this
									"button"
									role="cancel"
									content='cancel (destructive)'
								}}
								<span class="flow-ui-tooltip flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-constructive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-destructive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-progressive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-left">wow<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-up">such tool<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-right">many tip<span class="flow-ui-tooltip-triangle"></span></span>
								<span class="flow-ui-tooltip flow-ui-regressive flow-ui-tooltip-down">very cascading<span class="flow-ui-tooltip-triangle"></span></span>
							</form>
						</div>
					</div>
