<ul class="flow-topic-navigation" style="display:none;">
	{{!-- @todo reimplement this after Sprint B --}}{{!--
	<li class="flow-topic-navigation-heading"><h5>{{l10n "Topics_n" this}}</h5></li>
	{{#each roots}}
		{{#eachPost @root this}}
			<li class="flow-topic-navigator-wrap">
				<a href="#flow-topic-{{postId}}" class="flow-topic-navigator">
					{{math @index "+" "1"}}. {{content}}
					<span class="flow-topic-navigator-meta">
						{{#if last_updated}}
							{{timestamp last_updated "active_ago"}}
						{{else}}
							{{uuidTimestamp postId "started_ago"}}
						{{/if}}
					</span>
				</a>
			</li>
		{{/eachPost}}
	{{/each}}
	<li class="flow-topic-navigation-footer">
		{{l10n "topic_count_sidebar" this}}
		{{#if links.pagination.fwd}}
			<a href="{{links.pagination.fwd.url}}" title="{{links.pagination.fwd.title}}" class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin"><span class="wikicon wikicon-article"></span> {{l10n "flow-load-more"}}</a>
		{{elseif links.pagination.rev}}
			<a href="{{links.pagination.rev.url}}" title="{{links.pagination.rev.title}}" class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin"><span class="wikicon wikicon-article"></span> {{l10n "flow-load-more"}}</a>
		{{else}}
			<!-- @todo make disabled class do something? -->
			<a class="flow-ui-button flow-ui-progressive flow-ui-quiet flow-ui-thin disabled"><span class="wikicon wikicon-article"></span> {{l10n "flow-load-more"}}</a>
		{{/if}}
	</li>
	--}}
</ul>
