<label class="mw-ui-field mw-ui-fieldtag-{{tag}} {{#if fieldtype}}mw-ui-fieldtype-{{fieldtype}}{{/if}}">{{!
	}}<{{tag}}
	{{#if class}}class="{{class}}"{{/if}}
	{{#if type}}type="{{type}}"{{/if}}
	{{#if name}}name="{{name}}"{{/if}}
	{{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
	{{#if value}}value="{{value}}"{{/if}}
	{{#if role}}data-role="{{role}}"{{/if}}
	{{#if expandable}}data-flow-expandable="true"{{/if}}
	{{#if min}}min="{{min}}"{{/if}}
	{{#if max}}max="{{max}}"{{/if}}
	{{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
	{{#if pattern}}pattern="{{pattern}}"{{/if}}
{{!--
	{{#if required}}required="required"{{/if}}
--}}
	{{#if closing_tag}}>{{else}}/>{{/if}}{{!
	}}{{#if radio}}<span class="mw-ui-radio"></span>{{/if}}{{!
	}}{{#if checkbox}}<span class="mw-ui-checkbox"></span>{{/if}}{{!
	}}{{content}}{{!
	}}{{#if closing_tag}}</{{closing_tag}}>{{/if}}{{!
}}{{#if validation}}<span class="mw-ui-field-icon mw-ui-validation-icon"></span>{{/if}}{{!
}}<a href="javascript:void(0);" class="mw-ui-field-icon mw-ui-uls-icon"></a>{{!
}}</label>
