{{#if guid}}
	<time datetime="{{time_iso}}" class="flow-timestamp">
{{else}}
	<time datetime="{{time_iso}}"
	      class="flow-timestamp flow-load-interactive"
	      data-flow-load-handler="timestamp"
	>
{{/if}}
	<span class="flow-timestamp-user-formatted">{{time_readable}}</span>
	<span id="{{guid}}" class="flow-timestamp-ago">{{time_ago}}</span>
</time>
